/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/*General styles*/
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f5f8;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Montserrat', 'Roboto';
}

/* Header styles */
.hero {
    position: relative;
    height: 100vh;
    min-width: 600px;
    
    background: url('https://i.pinimg.com/736x/35/f8/95/35f895f2a432a0feb95b42c22a90119a.jpg') no-repeat center center/cover;
    background-color: #fff;
    text-align: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: auto;
    overflow: hidden;
    background-color: #fff;
}

nav ul li {
    margin: 2rem;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: rgb(255, 106, 0);
}

nav a:hover{
    color:#434364;  
    font-style: italic;
}


.hero-content {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(225, 225, 250, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(43, 231, 223, 0.3);;
}

.hero-content:hover :first-child{
    box-shadow: 0 4px 30px rgba(225, 225, 250, 3.5);
}

.hero-content h1 {
    font-size: 2.5rem;
    margin: 20px;
    color: #14213d;
}

.hero-content p {
    font-size: 1.5em;
    font-family: Mulish;
    margin-bottom: 0.5rem;
    color: #4a4e69;
    word-wrap: break-word;
}

/*Button styles*/
.btn {
    width: 9rem;
    font-size: large;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 106, 0);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition background 0.3s ease-in-out;
    margin: 0.5rem;
}

.btn:hover {
    background: #434364;
    width: 150px;
}

/* Horizontal Rule Styles*/
hr {
    height: 0.1rem;
    background-color: #eea169;
    margin-bottom: 5rem;
}
hr.hr-2 {
    height: 0.2rem;
    margin-bottom: 5rem;
}
/* Section "Welcome Info" styles" */
.welcome-info{
    position: relative;
    display: flex;
    margin: 0 auto;
    min-width: 70rem;
    max-width: 90rem;
    align-items: center;
    background-color: #fca9041a;
}

.wlc-info {
    position: relative;
    margin-top: 1rem;
    text-align: center;
}

.wlc-info h1 {
    font-size: 3rem;
    color: #343a40;
}

.wlc-info p{
    margin: 1em;
    font-size: 1.5rem;
    font-family: 'mulish' 'arial-sans';
    text-align: left;
    color: #403d39;
}

.wlc-info img {
    height: 30rem;
    width: 700px;
    margin: 0;
}

.wlc-info-highlight {
    color: #ff6a00d6;
    text-decoration-line: underline;
    text-decoration-color: #030342;
    letter-spacing: 4px;
    text-shadow: 0 0 1px #030342;
}

/* Section 'Feature Highlight" Styles */

.feature-highlight {
    align-items: center;
    margin: 0 auto;
}

.feature-highlight h2 {
    text-align: center;
    font-size: 2rem;
    color: #252422;
    text-decoration: underline;
    text-decoration-color: #030342;
}

.feature-highlight p {
    margin: 6px;
    color: #495057;
    text-align: left;
    font-size: 1.2rem;    
}

.feature-highlight span{
    font-size: 1.3rem;
    color: #9a4000;
    letter-spacing: 1px;
    text-decoration: dotted;
    text-decoration-color: #030342;
}

.feature-highlight-card {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.highlight-card {
    height: 12rem;
    min-width: 15rem;
    overflow: hidden;
    align-items: center; 
    margin: 15px;
    border-radius: 15px;
    background-color: #fff;
}

.highlight-card img {
    height: 50px;
    margin: 2px 2px auto;
}
