/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f7;
    font-family: 'Roboto', 'Montserrat', 'Roboto';
    line-height: 1.6; /* Adjust line height for better readability */
}

/* Responsive adjustments */
@media screen and (min-width: 577px) and (max-width: 768px) {
    /* Adjustments for smaller screens */
    body {
        font-size: 16px; /* Decrease font size for better readability on smaller screens */
    }
}


/* Header styles */
.hero {
    position: relative;
    height: 100vh;
    min-width: 600px;
    background: url('https://i.pinimg.com/736x/35/f8/95/35f895f2a432a0feb95b42c22a90119a.jpg') no-repeat center center/cover;
    background-color: #fff;
    text-align: center;
    background-size: cover;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: auto;
    overflow: hidden;
    background-color: #fff;
}

nav ul li {
    margin: 2rem;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: rgb(255, 106, 0);
}

nav a:hover {
    color: #434364;
    font-style: italic;
}

.hero-content {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(225, 225, 250, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(43, 231, 223, 0.3);;
}

.hero-content:hover :first-child {
    box-shadow: 0 4px 30px rgba(225, 225, 250, 3.5);
}

.hero-content h1 {
    font-size: 2.5rem;
    margin: 20px;
    color: #14213d;
}

.hero-content p {
    font-size: 1.5em;
    font-family: Mulish;
    margin-bottom: 0.5rem;
    color: #4a4e69;
    word-wrap: break-word;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .hero {
        min-width: unset;
    }
    
    nav ul {
        justify-content: center; /* Center the navigation links */
    }
    
    nav ul li {
        margin: 1rem; /* Reduce margin between navigation links */
        font-size: 1.5rem; /* Decrease font size for better fit on smaller screens */
    }
    
    .hero-content {
        max-width: 90%; /* Adjust max-width for better fit on smaller screens */
        min-width: unset;
    }
    
    .hero-content h1 {
        font-size: 2rem; /* Decrease font size for better fit on smaller screens */
    }
    
    .hero-content p {
        font-size: 1rem; /* Decrease font size for better fit on smaller screens */
    }
}


/* Button styles */
.btn {
    width: 9rem;
    font-size: large;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7e5f;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.3s ease-in-out;
    margin: 0.5em;
}

.btn:hover {
    background: #434364;
    width: 150px;
}

/* Horizontal Rule Styles */
hr {
    height: 0.2rem;
    background-color: #eea169;
    margin-bottom: 5em;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .btn {
        width: 100%; /* Make buttons full-width on smaller screens */
        font-size: 1rem; /* Decrease font size for better fit on smaller screens */
        margin: 0.5em auto; /* Center align buttons */
    }
    
    hr {
        margin-bottom: 2em; /* Reduce margin bottom for horizontal rule on smaller screens */
    }
}

/* Section "Welcome Info" styles */
.welcome-info {
    position: relative;
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    margin: 0 auto;
    padding: 2rem; /* Add padding for better spacing */
    background-color: #1d3461da;
    text-align: center; /* Center-align content */
}

.wlc-info {
    position: relative;
    margin-top: 1rem;
}

.wlc-info h1 {
    font-size: 3rem;
    color: #fff;
}

.wlc-info p {
    margin: 1em auto;
    font-size: 1.3rem;
    font-family: 'mulish', 'arial-sans';
    color: #fff;
}

.wlc-info img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin: 1rem auto; /* Add margin for better spacing */
}

.wlc-info-highlight {
    color: #ff6a00;
    text-decoration-line: underline;
    text-decoration-color: #02023a40;
    letter-spacing: 4px;
    text-shadow: 0 0 2px #030342;
}

/* Feature-highlight section styles */
.feature-highlight {
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0; /* Adjust padding for better spacing */
    display: flex;
    flex-direction: column; /* Stack cards vertically on smaller screens */
}

.feature-highlight h2 {
    text-align: center;
    font-size: 2rem;
    color: #252422;
    text-decoration: underline;
    text-decoration-color: #030342;
    margin-bottom: 1rem; /* Adjust margin for better spacing */
}

.feature-highlight p {
    margin: 0 auto 1.5rem; /* Adjust margin for better spacing */
    color: #495057;
    font-size: 1.2em;
    text-align: center;
}

.feature-highlight span {
    font-size: 1.3em;
    color: #1d3461f7;
    letter-spacing: 1.5px;
    text-decoration: dotted;
    text-decoration-color: #030342;
}

.highlight-card {
    margin: 0 auto 1rem; /* Adjust margin for better spacing */
    border-radius: 15px;
    background-color: #fff;
    width: 90%; /* Adjust width for better layout on smaller screens */
    max-width: 600px; /* Set maximum width */
}

.highlight-card img {
    width: 10%; /* Make images fill the card container */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .feature-highlight-card {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center items horizontally on small screens */
    }

    .highlight-card {
        width: calc(100% - 30px); /* Make cards full-width on small screens */
    }
}


/* Section "Call-to-action" Styles */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    min-height: 10vh;
    background-color: #fff;
}

.content {
    text-align: center;
}

.content h2 {
    font-size: 2rem;
    color: #252422;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
    color: #353535;
    margin-bottom: 20px;
}

.content input[type="email"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content button {
    padding: 10px 20px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Add margin to the top */
}

.content button:hover {
    background-color: #ff6b4e;
}

/* Responsive adjustments */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .call-to-action {
        flex-direction: column; /* Stack elements vertically on small screens */
        padding: 2rem; /* Add padding for better spacing */
    }

    .content input[type="email"] {
        width: calc(100% - 40px); /* Make input full-width and consider padding on small screens */
        max-width: none; /* Remove maximum width on small screens */
    }
}

/* Our-Vision Styles */
.our-vision {
    position: relative;
    align-items: center;
    margin: 0.5em;
    min-height: 25vh;
    min-width: 60em;
    justify-content: center;
    background-color: #1d3461da;
}

.our-vision h2 {
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
    color: #fff;
}

.vision-content {
    display: block;
    flex-wrap: wra; /* Allow content to wrap on smaller screens */
    justify-content: center; /* Center content horizontally */
}

.vision-paragraph {
    text-align: auto;
    font-size: 1.4em;
    margin: 1.5em;
    width: 100%; /* Make paragraph width full-width */
    max-width: 40em; /* Set maximum width */
    overflow: hidden;
    color: #ffffff;
    border-color: #bf8273d3;
    border-style: dashed;
}

.vision-content form {
    margin-left: 0; /* Center the form horizontally */
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    align-items: center; /* Center form elements horizontally */
}

.vision-content input[type="email"] {
    padding: 10px;
    width: 100%; /* Make input full-width */
    max-width: 300px; /* Set maximum width */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.vision-content button {
    padding: 10px 20px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em; /* Add margin to the top for better spacing */
    margin-bottom: 1.5em; /* Add margin to the bottom for better spacing */
}

.vision-content button:hover {
    background-color: #ff6b4e;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .our-vision {
        min-width: auto; /* Remove minimum width on small screens */
    }

    .vision-paragraph {
        width: calc(100% - 3em); /* Adjust paragraph width for better layout on small screens */
        margin: 1em 1.5em; /* Adjust margin for better spacing */
    }

    .vision-content form {
        margin-top: 2em; /* Adjust margin-top for better spacing */
    }
}

/* Footer styles */
footer {
    background-color: #1d3461;
    color: #fff;
    padding: 3rem 0; /* Add padding to top and bottom for spacing */
    text-align: center;
}

footer p {
    padding-bottom: 2px; /* Add bottom padding to paragraph */
    font-size: 1.2em;
}

footer a {
    color: #ff6b4e;
    text-decoration: none;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    footer {
        padding: 2em 0; /* Adjust padding for smaller screens */
    }
}